@model NewsWebsite.ViewModels.Home.HomePageViewModel
@using NewsWebsite.Common
@using NewsWebsite.ViewModels.Newsletter
@using NewsWebsite.ViewModels.Home
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ارتباط با ما</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section id="contact" name="contact">

    <div id="footwrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-2">
                    <h5>تماس با ما</h5>
                </div>
                <div class="col-lg-4">
                    <p>
                        <t>ایمیل :</t><br /> mahdiaj1998@gmail.com <br />
                    </p>
                    <p>
                        <t> آدرس :</t><br />  Iran, Tehran. <br />
                    </p>
                    <p>
                        <t>شماره های تماس :</t><br />  021-22658989 و 09120920270 <br />
                    </p>

                    <p>
                        <t>شبکه های اجتماعی</t><br />
                        <a href="http://www.mahdiajdari.com/"><i class="fa fa-dribbble"></i></a>
                        <a href="https://twitter.com/ajdari_mahdi"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/mohammad-mahdi-ajdari-4b59b1168/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/m.mahdiajdari/"><i class="fa fa-instagram"></i></a>
                    </p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            زومه طراحان سایت
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" target="_blank" href="~/CacheFiles/file/mehdi=en.pdf">محمد مهدی اژدری</a>
                            <a class="dropdown-item" target="_blank" href="~/CacheFiles/file/behrooz-en.pdf">بهروز بزرگ چمی</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        <sm>فرم ارسال پیام</sm>
                    </p>
                    <form class="contact-form php-mail-form" role="form">

                        <div class="form-group">
                            <label for="contact-name">نام و نام خانوادگی :</label>
                            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="contact-email"> ایمیل :</label>
                            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="contact-subject">موضوع :</label>
                            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                            <div class="validate"></div>
                        </div>

                        <div class="form-group">
                            <label for="contact-message">پیام شما :</label>
                            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="form-send">
                            <button class="btn btn-large" href="/Home/Index">ارسال پیام</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</section>
